[submodule "TFT_eSPI/tft"]
	path = TFT_eSPI/tft
	url = git@github.com:mean00/TFT_eSPI.git
[submodule "XPT2046"]
	path = XPT2046
	url = git@github.com:mean00/simplerXpt2046.git
[submodule "TFT_eSPI"]
	path = TFT_eSPI
	url = https://github.com/mean00/TFT_eSPI.git
[submodule "adc"]
	path = adc
	url = https://github.com/mean00/stm32duino_adc.git
[submodule "lnArduino"]
	path = lnArduino
	url = https://github.com/mean00/lnArduino.git
